<header>
  <nav>
    <h1>
      <a href="/" id="lab-title">
        HAE<small>Lab</small>
        <span id="lab-subtitle">Human-centered Analytics &amp; Enablement</span>
      </a>
    </h1>
    <ul>
      <li><a href="/" {% if page.url=="/" %}class="active" {% endif %}>Home</a></li>
      <li><a href="/publications" {% if page.url contains "/publications" %}class="active" {% endif %}>Publications</a>
      </li>
      <li><a href="/join" {% if page.url contains "/join" %}class="active" {% endif %}>Join Us</a></li>
    </ul>
  </nav>
</header>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XQ5WR27SFX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XQ5WR27SFX');
</script>
